/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-image: url(images/bg_html.jpg); 
	height: 100%;
	width: 100%;
	font-family: 微軟正黑體;
}
.clear{
	clear: both;
}

.wrap{
	width: 70%;
	margin: 0 auto;
}
.line{
	height: 5px;
	background: black;
}
#red{
	float: left;
	width: 5%;
	height: 5px;
	background: #EB0000;
}
#green{
	float: left;
	width: 5%;
	height: 5px;
	background: #00DB00;
}
#blue{
	float: left;
	width: 5%;
	height: 5px;
	background: #008A8A;
}
.header{
	padding: 20px;
}
#logo{
	float: left;
	width: 180px;
	height: 100px;
}
#fans{
	float: left;
	width: 720px;
	height: 25px;
}
#tw{
	float: right;
	width: 25px;
	height: 25px;
}
#fb{
	float: right;
	width: 25px;
	height: 25px;
}
.bar{
	float: left;
}
.bar li{
	font-size: 15px;
	font-weight: bold;
	float: left;
	width: 120px;
	height: 35px;
	padding: 40px 0 0 0;
	text-align: right;	
}
.main_content{
	margin-top: 20px;
	height: auto;
}
.main_photo{
	width: 70%;
	height: 415px;
	float: left;
}
.main_photo img{
	width: 100%;
	height: 415px;
}
.main_introduce{
	background: #383737;
	width: 28%;
	height: 400px;
	float: left;
	padding: 1%;
}
.main_introduce h1{
	font-size: 40px;
	margin: 10% 10% 1% 10%;
	color: #0cb4dc;
}
.main_introduce p{
	font-size: 15px;
	margin: 10% 10% 15% 10%;
	font-weight: bolder;
	line-height: 30px;
	color: #7B7B7B;
}
.main_introduce input{
	font-size: 15px;
	margin: 0 10%;
	font-weight: bold;
	color:white;
	background: #616060;
	border: 0;
	padding: 10px 25px 10px 25px;
}
.content{
	width: 100%;
	height: auto;
}
.detail{
	background: white;
	width: 90%;
	height: auto;
	float: left;
	margin-top: 30px;
	padding: 3% 5% 3% 5%;
	line-height: 30px;
}
.other{
	background: white;
	width: 90%;
	height: auto;
	float: left;
	margin-top: 30px;
	margin-bottom: 25px;
	padding: 3% 5% 5% 5%;
}
.events{
	float: left;
	width: 75%;
	height: auto;
}
.events h2{
	float: left;
	font-size: 25px;
	font-weight: bold;
	width: 100%;
	padding:0 0 25px 0;
}
.info{
	margin-bottom: 5%;
}
.info img{
	float: left;
	width: 30%;
	height: auto;
	margin-right: 5%;
	border: 5px solid #EDEDED;
}
.info h3{
	float: left;
	width: 60%;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 2%;
}
.info p{
	float: left;
	width: 60%;
	height: auto;
	font-size: 15px;
	line-height: 25px;	
}

.list{
	float: left;
	width: 25%;
	height: 200px;
	margin-bottom: 20px;
}
.list ul{
	float: left;
	width: 210px;
	height: 150px;
	line-height: 30px;
	list-style-position:inside;
	list-style-image:url(images/dot_blue.gif);
}
.list h2{
	float: left;
	font-size: 25px;
	font-weight: bold;
	width: 100%;
	padding:0 0 25px 0;
}
.FindUs{
	float: left;
	width: 25%;
	height: 150px;
}
.FindUs h2{
	float: left;
	font-size: 25px;
	font-weight: bold;
	width: 100%;
	padding:0 0 25px 0;
}
input.zip{
	width: 168px;
	font-size: 15px;
	color:#D4D4D4;
	padding: 10px 20px;
	margin-bottom: 20px;
	border: 1px #E8E8E8 solid;
}
input.search{
	font-size: 15px;
	font-weight: bold;
	background-color: #E8E8E8;
	color:#0cb4dc;
	padding: 15px 25px;
	margin-bottom: 10px;
	border: none;
}
.footer{
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 50px;
}
.footer p{
	width: 100%;
	text-align: center;
}
span{
	color: #0cb4dc;
}

@media(max-width: 768px){
	.wrap{
		width: 90%;
	}
	.header{
		padding: 5% 0 0 0;
	}
	#logo{
		width: 100%;
		height: auto;
	}
	#fans{
		display: none;
	}
	.bar{
		width: 100%;
		margin-top: 3%;
	}
	.bar ul li{
		float: left;
		text-align: center;
		width: 33.3%;
		background: white;
	}
	.main_photo{
		width: 100%;
		height: auto;
	}
	.main_photo img{
		max-width: 100%;
		height: auto;
	}
	.main_introduce{
		width: 98%;
		height: auto;
		padding: 3% 1%	
	}
	.main_introduce h1{
		font-size: 30px;
		margin: 3% 10% 1% 10%;
	}
	.main_introduce p{
		margin: 3% 10%;
	}
	.main_introduce input{
		margin: 1% 10% 3% 10%;
	}
	.detail{
		width: 90%;
		height: auto;
		margin-top: 3%;
	}
	.other{
		width: 90%;
		height: auto;
		margin-top: 3%;
	}
	.events{
		width: 100%;
		height: auto;
		margin-bottom: 5%;
	}
	.info img{
		width: 40%;
		height: auto;
	}
	.info h3{
		width: 50%;
		height: auto;
	}
	.info p{
		width: 50%;
		height: auto;
	}
	.list{
		width: 50%;
		height: auto;
	}
	.FindUs{
		width: 50%;
		height: auto;
	}
}
@media(max-width: 414px){
	.bar ul li{
		width: 50%;
	}
	.main_introduce h1{
		font-size: 30px;
	}
	.main_introduce p{
		font-size: 10px;
	}
	.main_introduce input{
		font-size: 10px;
		margin: 0 10%;
	}
	.info img{
		width: 100%;
		height: auto;
	}
	.info h3{
		width: 100%;
		height: auto;
		margin-top: 5%;
	}
	.info p{
		display: none;
	}
	.list{
		width: 100%;
		height: auto;
	}
	.FindUs{
		width: 100%;
		height: auto;
	}
}
@media(max-width: 320px){
	.main_introduce h1{
		text-align: center;
	}
	.main_introduce p{
		display: none;
	}
	.main_introduce input{
		margin: 5% 25%;
	}
}